# Configurazione di Base
SECRET_KEY=tua_secret_key_super_sicura_da_sostituire
DEBUG=True

# Credenziali API Fanta (Da usare nei tuoi script)
FANTA_USERNAME=tuo_username
FANTA_PASSWORD=tua_password
BASE_URL=https://api.fantacalcio.it/
BASE_API=v1/

# Impostazioni Database PostgreSQL (De-commenta se non vuoi usare SQLite)
# DB_NAME=fanta_db
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=localhost
# DB_PORT=5432
